/* how to style Layout component using CSS Modules */
/* 
1. create CSS Modules file (layout.module.css) and add styles
2. import the CSS Modules file in the Layout component .js file
3. use className prop to assign it to the top-level <div> element.
*/

/* step 1 */
.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: black;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}